[run]
branch = true
source = app
omit =
    */venv/*
    */tests/*
    */staticfiles/*
    */migrations/*
    */settings/*
    */urls.py
    */wsgi.py
    */asgi.py
    */tests.py

[report]
show_missing = true
precision = 2
